
.form-card,
.orf-card,
.motif-card,
.rf-card,
.input-card,
.results-card {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.35); 
    backdrop-filter: blur(8px);
    box-sizing: border-box;
}


textarea,
input[type="text"],
input[type="file"],
input[type="number"],
input[type="password"],
select {
    width: 100% !important;
    padding: 14px;
    border-radius: 14px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.20);
    color: #fff;
    transition: 0.25s ease;
    backdrop-filter: blur(8px);
    box-sizing: border-box;
}


input[type="file"] {
    width: 100% !important;
}


button,
input[type="submit"] {
    width: 100%;
    padding: 14px;
    border-radius: 14px;
    background: rgba(91, 101, 255, 0.85);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease;
}


button:hover,
input[type="submit"]:hover {
    background: rgba(70, 80, 240, 1);
    transform: translateY(-3px);
}
